# Titanic Data Analysis

In [2]:
# Loading the titanic data
import pandas as pd
dfd = pd.read_csv("titanic.csv")

In [3]:
dfd.head()

                        Unnamed: 0 survived     sex      age passengerClass
0    Allen, Miss. Elisabeth Walton      yes  female  29.0000            1st
1   Allison, Master. Hudson Trevor      yes    male   0.9167            1st
2     Allison, Miss. Helen Loraine       no  female   2.0000            1st
3  Allison, Mr. Hudson Joshua Crei       no    male  30.0000            1st
4  Allison, Mrs. Hudson J C (Bessi       no  female  25.0000            1st

In [4]:
dfd.dtypes

Unnamed: 0         object
survived           object
sex                object
age               float64
passengerClass     object
dtype: object

In [5]:
dfd['sex'].value_counts()

male      843
female    466
Name: sex, dtype: int64

In [6]:
grouped_df = dfd.groupby(['sex','survived'])
print(grouped_df.size())

sex     survived
female  no          127
        yes         339
male    no          682
        yes         161
dtype: int64

In [8]:
import numpy as np
np.mean(dfd['age'])

29.881134512434034

In [9]:
len(dfd['age'])

1309

In [10]:
pd.isnull(dfd['age']).value_counts()

False    1046
True      263
Name: age, dtype: int64

In [11]:
 np.count_nonzero(dfd['sex'].isnull().values)

0